.login-wrapper{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Arial;
overflow:hidden;
}

.portal-title{
color:white;
margin-bottom:30px;
font-size:40px;
font-weight:bold;
}

.role-container{
display:flex;
gap:30px;
margin-bottom:30px;
}

.role-card{
backdrop-filter:blur(15px);
background:rgba(255,255,255,0.2);
border-radius:15px;
padding:25px;
width:160px;
text-align:center;
cursor:pointer;
transition:0.3s;
color:white;
border:1px solid rgba(255,255,255,0.3);
}

.role-card:hover{
transform:translateY(-8px) scale(1.05);
background:rgba(255,255,255,0.3);
}

.active{
border:2px solid white;
}

.role-icon{
font-size:45px;
margin-bottom:10px;
animation:float 3s ease-in-out infinite;
}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-6px)}
100%{transform:translateY(0)}

}

.login-card{
backdrop-filter:blur(20px);
background:rgba(255,255,255,0.25);
padding:35px;
border-radius:15px;
display:flex;
flex-direction:column;
width:300px;
gap:12px;
border:1px solid rgba(255,255,255,0.3);
color:white;
}

.login-card input{
padding:10px;
border:none;
border-radius:6px;
outline:none;
}

.login-btn{
padding:10px;
border:none;
border-radius:8px;
background:linear-gradient(90deg,#ff7eb3,#ff758c);
color:white;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-btn:hover{
transform:scale(1.05);
}